@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    @if (TempData["LoginAsAdmin"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["LoginAsAdmin"]
        </div>
    }
    <h1 class="display-4">Witaj w aplikacji VacationCalendar</h1>
</div>
