@model VacationCalendar.BusinessLogic.Dtos.CreateVacationRequestDto;
@{
    ViewData["Title"] = "Create Vacation Requests";
}

<div class="container">
    <h4>Dodaj nowy wniosek</h4>
    <hr />
    @if(TempData["RequestMessage"] != null)
    {
        <div class="alert alert-@TempData["message-type"]" role="alert">
            @TempData["RequestMessage"]
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Employees" asp-action="CreateVacationRequest">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly value="@User?.Identity.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="From" class="control-label"></label>
                    <input asp-for="From" class="form-control" />
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="To" class="control-label"></label>
                    <input asp-for="To" class="form-control" />
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

