
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h6>Menu pracownika</h6>
    <hr />
    <a asp-controller="VacationRequests" asp-action="Create" class="btn btn-success">Nowy wniosek urlopowy</a>
</div>


