@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h6>Menu administratora</h6>
    <hr />
    <a asp-controller="#" asp-action="#" class="btn btn-success">Lista managerów</a>
    <a asp-controller="Employees" asp-action="GetEmployeesList" class="btn btn-primary">Lista pracowników</a>
</div>