@model VacationCalendar.BusinessLogic.Dtos.RegisterEmployeeDto;
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h6>Rejestracja pracownika</h6>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
            Ustawienia
        </button>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VacationDays" class="control-label"></label>
                    <input asp-for="VacationDays" class="form-control" value="@ViewData["VacationDays"]"/>
                    <span asp-validation-for="VacationDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" class="form-control" asp-items=ViewBag.RoleId>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zmiana domyślnych ustawień</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditSettings" asp-controller="Admin">
                <div class="modal-body">           
                    <div class="form-group">
                        <label asp-for="VacationDays" class="control-label"></label>
                        <input asp-for="VacationDays" class="form-control" name="vacationDays" value="@ViewData["VacationDays"]" />
                        <span asp-validation-for="VacationDays" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleId" class="control-label"></label>
                        <select asp-for="RoleId" class="form-control" name="roleId" asp-items=ViewBag.RoleId>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>            
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}