@if (User.IsInRole("admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja pracownika</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetVacationRequests">Wnioski pracowników</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetEmployees">Lista pracowników</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">Zmień hasło</a>
    </li>
}
