@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@if (User.IsInRole("manager"))
{
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="GetVacationRequests">@Localizer["YourHolidayRequest"]</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Managers" asp-action="Index">@Localizer["ApprovalApplications"]</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">@Localizer["ChangePassword"]</a>
    </li>
}