@model VacationCalendar.BusinessLogic.Dtos.EditEmployeeDto;
@{
    ViewData["Title"] = "Edit Employee";
}
@if(TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}
<div class="container">
    <h4>Edycja pracownika</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Admin" asp-action="EditEmployee" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VacaationDays" class="control-label"></label>
                    <input asp-for="VacaationDays" class="form-control" />
                    <span asp-validation-for="VacaationDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" class="form-control" asp-items=ViewBag.RoleId></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManagerId" class="control-label"></label>
                    <select asp-for="ManagerId" class="form-control" asp-items=ViewBag.Managers>
                    </select>
                    <span asp-validation-for="ManagerId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Edytuj" class="btn btn-success" />
                    <a class="btn btn-light" asp-action="GetEmployees">Wróć do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}